.cms-widget {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2em;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.overlay {
  border-radius: 5px;
  background-color: white;
  padding: 15px;
  color: #333;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  margin-bottom: 1em;
}

.edit-button {
  border-radius: 50%;
  background-color: white;
  border: 2.5px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  padding: 1px;
  transition: all 120ms;
}

.edit-button:hover {
  padding: 0px;
  border: 3.5px solid #af1641;
}

.edit-button--icon {
  width: 30px;
  height: 30px;
  padding: 15px;
  object-fit: contain;
}
