@keyframes enterScene {
  from {
    transform-origin: right bottom;
    transform: scale(0);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.cms-widget {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2em;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  opacity: 0;
  animation: enterScene 180ms forwards;
  animation-delay: 200ms;
}

.overlay {
  border-radius: 5px;
  background-color: white;
  padding: 15px;
  color: #333;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  margin-bottom: 1em;
  opacity: 0;
  animation: enterScene 180ms forwards;
  animation-delay: 380ms;
}

.edit-button {
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  transition: all 120ms;
  cursor: pointer;
  box-shadow: 5px 5px 20px 0px #37373778;
}

.edit-button:hover {
  background-color: #f7f7f7;
}

.edit-button--icon {
  width: 30px;
  height: 30px;
  padding: 15px;
  object-fit: contain;
}
